.adm-search-bar-cancel-button,.adm-button {
    background-color: #04c763;
    color: #fff;
}
.sc-crXcEl, .nAtjP,.sc-iqcoie, .hVQsNM {
    z-index: 99999!important;
}
.sc-evZas, .jfmNm {
    margin-bottom: .32rem;
}