.header {
    width: 3.75rem;
    height: .6rem;
    border-bottom: 1px solid #d7d7d7;
}

.header img {
    display: block;
    float: left;
    width: .3rem;
    height: .3rem;
    padding-left: .1rem;
    padding-top: .15rem;
}

.header-title {
    display: block;
    float: left;
    width: 2rem;
    height: 0.5rem;
    margin-left: 1.3rem;
    font-size: 20px;
    line-height: .6rem;
}

.logo img {
    display: block;
    width: 2.796rem;
    height: 1.08rem;
    margin: 0 auto;
    padding-top: .1rem !important;
}

.login {
    width: 3.75rem;
    height: 6.67rem;
    display: flex;
    /* align-items: center; */
    justify-content: center;
}

.form input {
    display: block;
    width: 2.8rem;
    height: .5rem;
    margin: 0 auto;
}

.form-name,.form-password {
    border: 1px solid #97b8f0;
    border-radius: .05rem;
}

.form-name {
    margin-top: .15rem !important;
}

.form-submit {
    color: white;
    background-color: #3c76ff;
    border: none;
    border-radius: .05rem;
    margin-top: .2rem !important;
}

::-webkit-input-placeholder {
    padding-left: .1rem;
}
.footer {
    display: flex;
    justify-content: space-around;
    margin-top: .25rem;
    color: #9ea1b7;
}
